@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --color-text-primary: white;
}

#main-container > div > div {
    color: var(--color-text-primary);
}

/* #main-container {
    background: url("https://express-images.franklymedia.com/6616/sites/157/2020/11/09142131/Queen-Adam-Lambert-Live-around-the-world.png") no-repeat;
    background-size: 100%;
    object-fit: cover;
    aspect-ratio: 1.3/.8;
    /* color: var(--color-text-primary); */
/* } */ */

#main-container {
    width: 100%;
    max-height: 30%;
}

#main-image {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
}

.lead {
    font-size: 12px;
    margin-block: auto;
    color: var(--color-text-primary);
}

h1 {
    font-size: 84px;
    font-weight: 800;
    letter-spacing: 0.8;
    color: var(--color-text-primary);
}

#monthly-listeners {
    color: var(--color-text-primary);
}

#text-container {
    margin-top: -14rem;
}

#playlist-container {
    margin-top: -38.5em;
    background: linear-gradient(0deg, rgba(19,18,19,1) 0%, rgba(80,81,81,1) 95%, rgba(80,81,81,1) 100%);
    overflow-y: scroll;
    max-height: 80vh;
}

#verified-btn {
    background-position: center center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    margin-block: auto;
    margin: 0;
    color: blue;
}

/* #pause-button {
    /* background: radial-gradient(circle 26px, white, rgba(80,81,81,1)); */
    /* font-size: 48px;
    color: #1db954;
} */ */

.pauseButton {
    /* background-color: rgb(14, 236, 88); */
    color: white;
    background-color: white;
    width: 2.5vw;
    overflow: hidden;
    font-size: 2vh;
}

#pause-button {
    font-size: 56px;
    color: #1db954;
}

#follow {
    color: var(--color-text-primary);
    padding: 5px 7px;
    border-radius: 15%;
}

#dots {
    color: var(--color-text-primary);
    margin-left: 10px;

}

#pause-button, #follow, #dots {
    cursor: pointer;
}

h2 {
    font-size: 20px;
    color: var(--color-text-primary);
}

.list-group-item {
    background: linear-gradient(0deg, rgba(19,18,19,1) 0%, rgba(80,81,81,1) 80%, rgba(80,81,81,1) 100%);
    color: var(--color-text-primary);
    border: transparent;
    cursor: pointer;
}

.album-list-cover {
    width: auto;
    height: 50%;
    object-fit: cover;
}

.current-track {
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
}

figcaption {
    font-size: 12px;
    opacity: .6;
}

#playlist-current-track {
    color: var(--color-text-primary);
    list-style-type: none;
}

#see-more {
    color: var(--color-text-primary);
    list-style-type: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* Navbar */
  
  #first {
    background-color: black;
    font-size: 1vh;
  }
  #logo {
    width: 10vw;
  }
  #nav-1 .nav-link,
  #nav-2 .nav-link,
  #nav-4 .nav-link {
    color: white;
  }
  #nav-3 .nav-link {
    color: grey;
  }
  #nav-3 .nav-link:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.206);
  }
  #nav-1 .nav-link:hover,
  #nav-2 .nav-link:hover {
    background-color: rgba(128, 128, 128, 0.206);
    color: white;
  }
  
  #nav-3 {
    overflow: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .navHomeDiv {
    width: 2vw;
    aspect-ratio: 1/1;
    font-size: 2vh;
    font-weight: lighter;
  }
  .navIconDivs {
    min-width: 2vw;
    aspect-ratio: 1/1;
    font-size: 1.5vh;
    font-weight: lighter;
  }
  
  .creatPlaylistDiv {
    min-width: 2vw;
    aspect-ratio: 1/1;
    background-color: lightgrey;
    color: black;
    font-size: 1.5vh;
    font-weight: bolder;
  }
  
  .navSpans {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .navHeartDiv {
    background: rgb(38, 8, 185);
    background: linear-gradient(
      133deg,
      rgba(38, 8, 185, 1) 0%,
      rgba(121, 90, 142, 1) 60%,
      rgba(255, 255, 255, 1) 100%
    );
    min-width: 2vw;
    aspect-ratio: 1/1;
    color: white;
    font-size: 1vh;
    font-weight: bolder;
  }

  /* Music Player Bottom */

.musicPlayer {
    min-height: 101px;
    flex-grow: 0;
    width: auto;
    background-color: rgb(30, 30, 30);
    color: white;
  }
  
  .playerSongImageDiv {
    min-width: 71px;
    max-height: 71px;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .playerSongImage {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  
  .playerSongTitle {
    font-size: 0.9vh;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .playerSongArtist {
    font-size: 0.8vh;
  }
  
  .iconsDivPlayer {
    font-size: 1vh;
  }
  
  .iconPlay {
    height: 2vh;
    aspect-ratio: 1/1;
    background-color: white;
    color: black;
    font-size: 1.2vh;
  }