@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --color-text-primary: white;
}

#main-container > div > div {
    color: var(--color-text-primary);
}

#main-container {
    background: url("https://express-images.franklymedia.com/6616/sites/157/2020/11/09142131/Queen-Adam-Lambert-Live-around-the-world.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    margin-left: auto;
    color: var(--color-text-primary);
}

#playlist-container {
    width: 100%;
    height: 70vh;
    background: linear-gradient(0deg, rgba(19,18,19,1) 0%, rgba(80,81,81,1) 80%, rgba(80,81,81,1) 100%);
}

#verified-btn {
    background-position: center center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    margin-block: auto;
    margin: 0;
    color: blue;
}

#pause-button {
    background: radial-gradient(circle 26px, white, rgba(80,81,81,1));
    font-size: 48px;
    color: #1db954;
}

#follow {
    color: var(--color-text-primary);
    padding: 5px 15px;
    border-radius: 15%;
}

#dots {
    color: var(--color-text-primary);
    margin-left: 10px;

}

#pause-button, #follow, #dots {
    cursor: pointer;
}

h2 {
    font-size: 20px;
    color: var(--color-text-primary);
}

.list-group-item {
    background: linear-gradient(0deg, rgba(19,18,19,1) 0%, rgba(80,81,81,1) 80%, rgba(80,81,81,1) 100%);
    color: var(--color-text-primary);
    border: transparent;
    cursor: pointer;
}

#see-more {
    color: var(--color-text-primary);
    list-style-type: none;
}
