@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --color-text-primary: white;
}

#main-container > div > div {
    color: var(--color-text-primary);
}

#main-container {
    background: url("https://express-images.franklymedia.com/6616/sites/157/2020/11/09142131/Queen-Adam-Lambert-Live-around-the-world.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    margin-left: auto;
    color: var(--color-text-primary);
}

#playlist-container {
    margin-top: -42.5em;
    background: linear-gradient(0deg, rgba(19,18,19,1) 0%, rgba(80,81,81,1) 80%, rgba(80,81,81,1) 100%);
}

#verified-btn {
    background-position: center center;
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    margin-block: auto;
    margin: 0;
    color: blue;
}

/* #pause-button {
    /* background: radial-gradient(circle 26px, white, rgba(80,81,81,1)); */
    /* font-size: 48px;
    color: #1db954;
} */ */

.pauseButton {
    background-color: rgb(14, 236, 88);
    width: 2.5vw;
    aspect-ratio: 1/1;
    overflow: hidden;
    font-size: 2vh;
}

#pause-button {
    font-size: 56px;
    color: #1db954;
}

#playlist-container > div.row.d-flex.justify-content-start {
    gap: 5;
}

#follow {
    color: var(--color-text-primary);
    padding: 5px 15px;
    border-radius: 15%;
}

#dots {
    color: var(--color-text-primary);
    margin-left: 10px;

}

#pause-button, #follow, #dots {
    cursor: pointer;
}

h2 {
    font-size: 20px;
    color: var(--color-text-primary);
}

.list-group-item {
    background: linear-gradient(0deg, rgba(19,18,19,1) 0%, rgba(80,81,81,1) 80%, rgba(80,81,81,1) 100%);
    color: var(--color-text-primary);
    border: transparent;
    cursor: pointer;
}

#see-more {
    color: var(--color-text-primary);
    list-style-type: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* Navbar */
  
  #first {
    background-color: black;
    font-size: 1vh;
  }
  #logo {
    width: 10vw;
  }
  #nav-1 .nav-link,
  #nav-2 .nav-link,
  #nav-4 .nav-link {
    color: white;
  }
  #nav-3 .nav-link {
    color: grey;
  }
  #nav-3 .nav-link:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.206);
  }
  #nav-1 .nav-link:hover,
  #nav-2 .nav-link:hover {
    background-color: rgba(128, 128, 128, 0.206);
    color: white;
  }
  
  #nav-3 {
    overflow: hidden;
    overflow-y: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .navHomeDiv {
    width: 2vw;
    aspect-ratio: 1/1;
    font-size: 2vh;
    font-weight: lighter;
  }
  .navIconDivs {
    min-width: 2vw;
    aspect-ratio: 1/1;
    font-size: 1.5vh;
    font-weight: lighter;
  }
  
  .creatPlaylistDiv {
    min-width: 2vw;
    aspect-ratio: 1/1;
    background-color: lightgrey;
    color: black;
    font-size: 1.5vh;
    font-weight: bolder;
  }
  
  .navSpans {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .navHeartDiv {
    background: rgb(38, 8, 185);
    background: linear-gradient(
      133deg,
      rgba(38, 8, 185, 1) 0%,
      rgba(121, 90, 142, 1) 60%,
      rgba(255, 255, 255, 1) 100%
    );
    min-width: 2vw;
    aspect-ratio: 1/1;
    color: white;
    font-size: 1vh;
    font-weight: bolder;
  }