* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25rem;
  background-color: #000000;
  padding-left: 1.8rem;
  padding-top: 2rem;
  padding-right: 1rem;
}

.sidebar .logo img {
  width: 12.5rem;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 2rem;
}
.sidebar .navigation ul li {
  padding: 0.5rem;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 2rem;
  margin-right: 1rem;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 3rem;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 0.2rem;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}
#navigatione ul {
  width: 22rem;
  height: 50rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: scroll;
}
